node_modules/

bin/
binSecured/
binV2/

dist/

KData/JSON/
publicDir/
public/

src/FrontEnd/AllTables
src/FrontEnd/FirstTable
src/FrontEnd/assets/static/DataSchema
src/FrontEnd/assets/static/js/pagesForAllTables

.env

.vscode

.log

defineConfig.js
