node_modules/

bin/
dist/

KData/
publicDir/

src/FrontEnd/AllTables
src/FrontEnd/FirstTable
src/FrontEnd/assets/static/DataSchema
src/FrontEnd/assets/static/js/pagesForAllTables

.env

.vscode

.log

defineConfig.js
